
<div ng-controller="vision_detail" ng-init="get_vision_detail()">
		<style>
				input::placeholder{color: yellow;}
				
				
				.modal-wrapper.open .modal{
    margin-top: 0;
    opacity: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: visible;
    top: 15%;
				
				}
				.uploaded-image img{
					    width: 100%;
					height: 90px;
					    padding: 3px;
				}
				
				.profile-pic{
					width: 100%;
					display: block;
					margin: 0 auto;
					height: auto;
					max-width: 100%;
					padding: 25px;
				}
				
				</style>  
    

<header class="container-fluid nav-down">
	<div class="row">
		<nav class="navbar navbar-inverse">
		  <div class="container no-padding">
			<ul class="nav navbar-nav top_header">
				<li class="menu_icon back_icon"><a ng-click="back()" href="javascript:void(0)"   ><img style="width:13px;" src="assets/img/icon/back.png" id="asdf" alt="menu icon" /></a></li>
				<li class="logo_name"><a class="text-left back">VISION DETAILS</a></li>
			    <li class="edit-icon"><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="edit_focus_detail()"></i></li>
			</ul>
			
		  </div>
		</nav>
	
	</div>
	<!-- MOBILE-MENU-AREA END -->
</header>
<!-- END HEADER -->
<div class="body_bg">
  <div class="my_vision_detail pt-5 mt-60">
	
	<div class="col-sm-12 col-xs-12 uploaded-pic">
	    <div class="uploaded-pic-title">
		    <h3 class="font-color">Uploaded Pictures</h3>
		</div>
	</div>
	<div class="pic-gallery">
	    <div class="upload-image" ng-repeat="x in goal_name" ng-click="view_image(vision_url, x.file_name)">
			<div class="uploaded-image">
				<img src="{{vision_url}}/{{x.file_name}}">
			</div>
		</div>	
	</div>
	<div class="col-sm-12 col-xs-12 your-vision mt-10">
	    <div class="heading">
            <h3 class="font-color">Your Vision</h3> 
        </div>
		<div class="heading-para">
            <p class="font-color">{{focus_details.vision_title}}</p> 
        </div>
	</div>
	<div class="col-sm-12 col-xs-12 your-vision mt-10">
	    <div class="heading-goal">
            <h3 class="font-color">Goal Achievement Date</h3> 
        </div>
		<div class="heading-goal-para">
            <p class="font-color">{{ focus_details.goal_date | myDateFormat }}</p> 
        </div>
	</div>
</div>
</div>

<div class="modal-wrapper " id="notification_one">
		<div class="modal pl-20 pr-20">
			<img class="profile-pic" id="profilepic" src="assets/img/upload-pic1.png">
			<span ng-click="view_image_close()" style="
    position: absolute;
    top: -4px;
    right: -7px;
    background: #2e4a79;
    color: #fff;
    padding: 3px 8px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: 9999999999999;
">X</span>

		</div>
	</div>


<script>

    $('.digit1 input').keyup(function(){
        if($(this).val().length==$(this).attr("maxlength")){
            $(this).next().focus();
        }
    });

</script>	

</div>