
<div ng-controller="weekly_listing">
   

	<header class="container-fluid nav-down">
		<div class="row">
			<nav class="navbar navbar-inverse">
				<div class="container no-padding">
					<ul class="nav navbar-nav top_header">
						<li class="menu_icon back_icon"><a ng-click="back_weekly()" href="javascript:void(0)" ><img style="width:13px;" src="assets/img/icon/back.png" id="asdf" alt="menu icon" /></a></li>
						<li class="logo_name"><a class="text-left back">Weekly Focus</a></li>
	
					</ul>
	
				</div>
			</nav>
	
		</div>
		<!-- MOBILE-MENU-AREA END -->
	</header>
	<!-- END HEADER -->
	<style>
.undone-new{
   padding: 5px 15px;
    border: none;
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 15px;
    box-shadow: 0px 5px 6px 1px #38383873;
    color: #000;
    font-weight: 600;
}
.measure-me button {
   width: 75%;
    border: none;
    background-color: #2e4a79;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 7px 2px #2e4a79;
    position: fixed;
    bottom: 12px;
    left: 12px;
}

</style>
	<div class="pl-10 pr-10 pt-5 mt-50" ng-init="get_morning_focus()">
		<div class="weekly-process">
			
			<div class="weekly-up section-1 weekly-color-up-1" id="detail_data_{{x.id}}"    ng-repeat="x in morningfocus">
				<div class="week-title" ng-click="weekly_details(x.id)">{{x.weekly_title | ucwords}}</div>
				<div class="week-date" ng-click="weekly_details(x.id)"><span ng-repeat="y in x.days">{{y.short_name | ucwords}}, </span></div>
				<div class="week-time" ng-click="weekly_details(x.id)">{{x.set_time | myTimeFormat}}</div>
				<button class="undone-new" ng-click="undone(x.id)">Undone</button>
			</div>
			<!-- <div class="weekly-up section-2 weekly-color-up-2">
				<div class="week-title">Schedule Your Day</div>
				<div class="week-date">Mon, Tue, Wed, Sat</div>
				<div class="week-time">5:10 AM</div>
			</div>
			<div class="weekly-up section-3 weekly-color-up-3">
				<div class="week-title">Schedule Your Day</div>
				<div class="week-date">Mon, Tue, Wed, Sat</div>
				<div class="week-time">5:10 AM</div>
			</div>
			<div class="weekly-up section-4 weekly-color-up-4">
				<div class="week-title">Schedule Your Day</div>
				<div class="week-date">Mon, Tue, Wed, Sat</div>
				<div class="week-time">5:10 AM</div>
			</div>
			<div class="weekly-up section-5 weekly-color-up-5">
				<div class="week-title">Schedule Your Day</div>
				<div class="week-date">Mon, Tue, Wed, Sat</div>
				<div class="week-time">5:10 AM</div>
			</div> -->
			
		</div>
		<div   class="no_data_wrapper" ng-if = "!truelist">
			<div>
				<img src="img/no_data_found.png">
				<h3 class="text-center" >Not Found !!!</h3>
			</div>
		</div>
		<div class="add-btn-btn" >
			<div class="add-new-btn floating_add_btn" ng-click="add_weekly()"><a>+</a></div>
		</div>
		<div class="col-sm-12 col-xs-12 pt-15 pb-20 measure-me">
	        <button class="measure">Measure Me</button>
	    </div>
	</div>
	
	
	
	
	
	
	
	<script>
		$('.digit1 input').keyup(function() {
			if ($(this).val().length == $(this).attr("maxlength")) {
				$(this).next().focus();
			}
		});
	
	</script>
</div>